
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white overflow-x-hidden min-h-screen flex flex-col font-body;
  }
}

@layer components {
  .glass-panel {
    @apply bg-[rgba(15,15,35,0.6)] backdrop-blur-xl border border-white/10;
  }
  .neon-text {
    text-shadow: 0 0 20px rgba(56, 56, 250, 0.5);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
